**/.pytest_cache/
**/__pycache__/
**/.build/
**/.terraform/
.vscode/
.build
/tests/venv/
/venv/
/.venv/
env/
.env
.idea/
/.build/
/build/
/dist/
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfvars
dev.auto.tfvars